*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #dccfba;
}

header img{
    width: 200px;
    height: 200px;
}

header h1{
    border: 1px solid red;
}
header p {
    border: 1px solid greenyellow;
}


main{
    display: flex;
    gap: 1rem;
}

main section{
    flex: 1;
    border: 1px solid rgb(64, 7, 32);
}

section#desserts{
    flex: 2;
}